body,
  #wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

.footer {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #507ea4;
  margin-top: auto;
}

.footer-links {
  width: 30%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.footer-link {
  color: white;
  text-decoration: none;
}