.header {
  width: 100vw;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #164a84;
}

.header-left {
  margin-left: 30px;
}

.app-name {
  color: white;
  text-decoration: none;
}

.header-right {
  margin-right: 30px;
  display: flex;
}

.header-content {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}