<%= render "shared/header" %>
<div class="points">
  <%= @points.sum %>
</div>
<div class="impression">
  <%= @reflection.impression %>
</div>
<div class="judgment">
  <% if @points.sum >= 15 %>
    合格
  <% else %>
    不合格
  <% end %>
</div>
<%= button_to "ツイート", reflection_tweets_path(@reflection) %>