<div class="footer">
  <div class="footer-links">
    <%= link_to "利用規約", "#", class: "footer-link" %>
    <%= link_to "プライバシーポリシー", "#", class: "footer-link" %>
    <%= link_to "お問い合わせ", "https://twitter.com/gusuri3", class: "footer-link" %>
  </div>
</div>
